assets/*  linguist-vendored
assets/javascripts/jquery.chosen.js linguist-vendored=false
assets/javascripts/jquery.validate.js linguist-vendored=false
jquery.chosen.js linguist-vendored=false
jquery.validate.js linguist-vendored=false
